@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=IBM+Plex+Mono:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #EDEAE5; /* --paper */
  font-family: 'Cairo', sans-serif;
  color: #1C2B39;      /* --ink */
}